<!DOCTYPE html>

<html>
<head>
    <link rel="icon" href="/img/logo.png"
    <title> About</title>
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
        <div class="main-content">
     {{>header}}
     <p>this site was created by Manuel. It uses date from Darksky</p>
    <img class="ritratto" src="/img/easy.jpg">
    </div>

    {{>footer}}
</body>

</html>